@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@500&family=Playfair+Display+SC:wght@400;700;900&family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500&family=Rajdhani:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family : "poppins" , sans-serif; */
/* font-family : "Playfair display" , Serif; */